.row {
    /***
      路margin路: centerlize block with 0 auto;
      路&:not(:last-child)路  : select everything except the last child so the last child
      doesn't have a margin-bottom
    ***/

    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;


    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    // Select selector starts with col-
    [class^="col-"] {
      background-color: orangered;
      float: left;

      &:not(:last-child){
          margin-right: $gutter-horizontal;
      }
    }

    .col-1-of-2 {
      width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
      width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-1-of-4 {
      width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

}
